fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-community
langchain-core
sentence-transformers
faiss-cpu
python-dotenv
pydantic
numpy
torch
tranformers
requests
rich
tavily-python
cohere
langchain-huggingface
